/*.green {
    cursor: pointer;
    /*border-top-left-radius: 120%;
    border-bottom-right-radius: 75% 75%";*/
}

.red {
    cursor: pointer;
    /*border-top-right-radius: 120%;
    border-bottom-left-radius: 75% 75%;*/
}

.yellow {
    cursor: pointer;
    /*border-bottom-left-radius: 120%;
    border-top-right-radius: 75% 75%;*/
}

.blue {
    cursor: pointer;
    /*border-bottom-right-radius: 120%;
    border-top-left-radius: 75% 75%;*/
}*/


